/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

/* Styles spécifiques aux mobiles */
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    #search, #books, #pochList {
        width: 100%;
    }
}

/* Styles spécifiques aux tablettes et ordinateurs */
@media (min-width: 601px) {
    body {
        font-size: 20px;
    }

    #search, #books, #pochList {
        width: 75%;
        margin: auto;
    }
    .green-button:hover {
        background-color: darkgreen;
        /* Autres styles que vous souhaitez appliquer au bouton au survol */
    }    
}
